@model List<CartVM>
@{
    string format(string price)
    {
        string tmp = "";
        int cnt = 0;
        for (int i = price.Length - 1; i >= 0; i--)
        {
            if (cnt == 3)
            {
                cnt = 1;
                tmp += '.';
            }
            else
            {
                cnt++;
            }
            tmp += price[i];
        }
        string res = "";
        for (int i = tmp.Length - 1; i >= 0; i--)
        {
            res += tmp[i];
        }
        res += ".000";
        return res;
    }
}
    <form class="form-control" method="post" enctype="multipart/form-data">
        <section class="h-100 h-custom" style="background-color: #eee;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col">
                    <div class="card">
                        <div class="card-body p-4">

                            <div class="row">

                                <div class="col-lg-12">

                                    <div class="d-flex justify-content-between align-items-center mb-4">
                                        <div>
                                            <p class="mb-1">Shopping cart</p>
                                            <p class="mb-0">You have @(Model.Count()) items in your cart</p>
                                        </div>
                                    </div>
                                    @{
                                        @for (int i = 0; i < Model.Count;i++)
                                        {
                                                                <input hidden asp-for="@Model[i].ApplicationUserId">
                                                                <input hidden asp-for="@Model[i].shoppingCartId">
                                                                <input hidden asp-for="@Model[i].Products.Id">
                                                                <input hidden asp-for="@Model[i].Products.Price">
                                                                <div class="card mb-3 mb-lg-0">
                                                                    <div class="card-body">
                                                                        <div class="d-flex justify-content-between cartItem">
                                                                            <div class="d-flex flex-row align-items-center">
                                                                                    <div>
                                                                @{
                                                                    string imgUrl = Model[i].Products.UrlImage;
                                                                }
                                                                                    <img
                                                                                src="@imgUrl"
                                                                                class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                                                                                    </div>
                                                                                    <div class="ms-3">
                                                                                    <h5>@Model[i].Products.Title</h5>
                                                                                    <p class="small mb-0">@Model[i].Products.Author</p>
                                                                                    </div>
                                                                            </div>
                                                                            <div class="d-flex flex-row align-items-center cartRight">
                                                                                <div style="width:60px; margin-right:20px;" class="row cardQuantity">
                                                                                        <input type="number" class="btn cntItem" id="cntItem" asp-for="@Model[i].Count">

                                                                                </div>
                                                                                <div style="width: 120px;">
                                                                @{
                                                                    
                                                                    string price = format(Convert.ToString(Model[i].Products.Price));

                                                                }

                                                                                            <h5 class="mb-0" id="PriceItem">@price</h5>
                                                                                </div>
                                                                                <div>
                                                                @{
                                                                    string url = $"/Customer/Cart/Delete/{Model[i].shoppingCartId}";
                                                                }
                                                                                        <a class="btn btn-danger" onclick="Delete('@url')">
                                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                                                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                                                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                                                                            </svg>													
                                                                                        </a>
                                                                                    </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                <span asp-validation-for="@Model[i].Count" class="text-danger"></span>
                                        }
                                    }
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        </section>
        <div class="row mt-3">
            <div class="col-8">
            @{
                if(Model.Count > 0)
                {
                    <input hidden asp-for="@Model[0].Total" />
                    <h5 class="">Total: @(format(Convert.ToString(Model[0].Total)))</h5>
                }
            }

            </div>
            <div class="col-4">
            @if(Model.Count > 0)
            {
                    <button type="submit" class="btn btn-info" style="width:45%; height:100%" asp-action="Update" asp-controller="Cart"><h5>Update</h5></button>
                    <button type="submit" class="btn btn-success" style="width:45%" asp-action="Index" asp-controller="Order"><h5>Order</h5></button>
            }
            </div>
        </div>
    </form>

    <script>
        function Delete(url) {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: url,
                        type: 'DELETE',
                        success: function (data) {
                            if (data.success) {
                                Swal.fire(
                                    location.reload(),
                                    'Deleted!',
                                    'Your file has been deleted.',
                                    'success'
                                )
                            }
                            else {
                                Swal.fire(
                                    'Deleted!',
                                    'Your your file can not deleted.',
                                )
                            }
                        }
                    })
                }
            })
        }
        var currentCnt = Number(document.getElementById("cntItem").innerHTML);

    </script>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}